
<div>
    <section style="float:right;">
        <h3><span class="h3">Age</span><span class="span">   23</span></h3>
        <h3><span class="h3">Residence</span><span class="span">   Hyderabad</span></h3>
        <h3><span class="h3">Working Status</span><span class="span">Looking for Job</span></h3>
        <h3><span class="h3">Address</span><span class="span">  Gowliguda , Hyderabad</span></h3>
    </section>
    <section class="section" >
        <h1 ><span id="about">About </span> Me</h1>
        <p > I'm R.Vamshi Krishna,web-developer based out of  Hyderabad.I am good at css,javascript.And I have
             done a few project 
            on Web-development.And I'm looking for the right oppurtunity.
            I will be thankful to be hired as a web-developer at the earliest
        </p>
  </section>
</div>